name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main # Deploy when main is updated
  workflow_dispatch: # Manual trigger

permissions:
  contents: write # Needed to push to github-pages branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required to push to another branch

      - name: Enable Corepack (Yarn 4+)
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build project
        env:
          VITE_API_BASE_URL: ${{ vars.API_URL }}
        run: yarn run build

      - name: Add dynamic custom domain
        run: echo "${{ vars.CUSTOM_DOMAIN }}" > ./dist/CNAME

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages
          force_orphan: true
